# Downloaded content

# Built content
.venv
# User files
.vscode
.idea
**/.claude/
**/CLAUDE.md
**/.github/agents/*
**/.github/instructions/*
**/.github/skills/*
**/.github/copilot*.md
# Temp files
archive/
tmp/
# Secrets
